<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955778873823-e7hkg44t0sk3euiijgsti38ogtverqo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955778873823-e7hkg44t0sk3euiijgsti38ogtverqo2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955778873823-a82asu6781g0iaqoh1keh57pek2a9l60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-2xH1BItUWeaZYe8x9rWSqDa5yItq4iA</string>
	<key>GCM_SENDER_ID</key>
	<string>955778873823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yinYang.footyFix</string>
	<key>PROJECT_ID</key>
	<string>fitfeat-bf285</string>
	<key>STORAGE_BUCKET</key>
	<string>fitfeat-bf285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955778873823:ios:540469368ebabe1a41ec6a</string>
</dict>
</plist>